# Veritabanı bağlantı bilgileri
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# VS Code ayarları
.vscode/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db